#navbar{
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px #AAA;
    background-color: #fff;
    top: 0;
    /* position: fixed; */
    z-index: 999;
}.container{
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 15rem;
}

.menu {
    width: 100%;
}

.container-main{
    display: flex;
    justify-content: space-between;
    padding: px 0;
}

.menu-tag{
    display: flex;
    list-style: none;
}.menu-tag > li {
    padding: 16px 16px;
}

.menu-tag a{
    text-decoration: none;
    color: aliceblue;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #4e4e4e;
}

.menu-tag li:hover{
    border-bottom: 3px solid #00aba2;
    margin-bottom: -3px;
}

/* body */

#body-content{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.section_1{
    padding: 2rem 0;
}

.section_1-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.section_1-col--1{
    flex: 0 0 50%;
    max-width: 50%;
}

.block-item{
    padding: 0 20px;
}

 .item1 > img{
    vertical-align: middle;
    border-style: none;
    width: 80%;
}

.section_1-col--2{
    flex: 0 0 50%;
    max-width: 50%;
}

.item{
    display: flex;
    margin-bottom: 16px ;
}

.list-benefit--text{
    background: #00c0b6;
    padding: 0px 26px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    box-shadow: 0px 5px 10px -5px #636363;
    margin-left: 16px;
}


 /* section 2 */

 .section_2 .block-box{
    border: 3px solid #00c0b6;
    padding: 60px 20px 30px;
    border-radius: 20px;
    position: relative;
}

.section_2 .heading{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
}
.section_2 .heading h3{
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    margin: 0 auto;
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;

}.section_2 .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}.section_2 .row .col-lg3{
    flex: 0 0 25%;
    max-width: 25%;

}

.why-block-item{
    text-align: center;
}

.ic-why{
    width: 100px;
    height: 100px;
    background-image: url(https://riki.edu.vn/online/design-static/images/icon.png);
    background-repeat: no-repeat;
    background-size: 65px;
    border: 2px solid #00c0b6;
    border-radius: 15px;
    margin: 0px auto 20px;
    box-shadow: 0px 0px 11px -5px black;
}

.ic-why-01{
    background-position: 15px 23px;
}

.ic-why-02{
    background-position: 15px -55px;
}

.ic-why-03{
    background-position: 15px -140px;
}

.ic-why-04{
    background-position: 15px -235px;
}

.title{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.section-03--heading{
    background: #fff;
    padding: 20px 0;
}

.HeadingSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HeadingSection h3{
    font-weight: bold;
    margin: 0;
    font-size: 2rem;
}

.tab-button-outer{
    position: relative;
    z-index: 2;
    display: block;
}

.tab-button{
    margin: 0;
    padding: 0;
}

.tab-button li{
    display: inline-block;
    width: auto;
    margin-left: 40px;
    position: relative;
}

.tab-button li a{
    /* border-bottom-color: #00c0b6;
    color: #00c0b6; */
    display: block;
    padding: 0.5em;
    border: 2px solid transparent;
    text-align: center;
    color: #545454;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.tab-button .a1{
    border-bottom-color: #00c0b6;
    color: #00c0b6;
}

.tab-button li:not(:first-child) a{
    border-left: none;
}

/* section 3 */

.section-03--content{
    position: relative;
}

.section-03--content .tabs {
    padding-top: 4rem;
    position: relative;
}

.tabs{
    padding: 2rem 0;
}

.tab-contents{
    position: relative;
    margin-top: 0;

}

.section_3 .owl-course-list{
    position: relative;
}

.box-list-course {
    display: flex;
    flex-wrap: wrap;
}

.owl-carousel {
    width: 100%;
    z-index: 1;
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
}

.abc{
    background-color: aqua;
}

.box-list-course .item-box {
    padding: 0 10px;
    width: calc(100% / 3);
    display: block;
}

.box-list-course .item-box--course {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 200px;
    padding: 20px 15px;
    border: 1px solid #ebe9e9;
    backdrop-filter: blur(4px);
    z-index: 1;
}

.box-list-course .item-box--course---info {
    display: flex;
    flex-wrap: wrap;
}

.box-list-course .item-box--course---info .name {
    width: 40%;
    color: #000;
}

.box-list-course .item-box--course---info .name .title-name {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #8a8a8a;
    margin-bottom: 10px;
    min-height: 50px;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box-list-course .item-box--course---info .subtext {
    line-height: 1.3;
    font-weight: 600;
    color: #000;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

.box-list-course .item-box--course---info .text {
    width: 60%;
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    min-height: 160px;
}

.box-list-course .item-box--course---info .subtext {
    line-height: 1.3;
    font-weight: 600;
    color: #000;
}

.text-display-mb {
    display: none;
}
.box-list-course .item-box--course---info .text p {
    margin-bottom: 5px;
    color: #000;
}

.box-list-course .item-box--course---info .control {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-viewmore{
    padding: 4px 8px;
    background-color: aqua;
    text-decoration: none;
    border-radius: 4px;
    color: #f3fcfc;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.logo > a > img {
    padding-top: 10px;
    box-sizing: border-box;
}